---
---
* {
  font-family: 'Myriad Set Pro', sans-serif;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

.navbar-brand {
  background: url({{ site.github.url }}/imgs/logo.svg) center center no-repeat;
  background-size: 24px 24px;
}

.copyright {
  color: #999;
}
