<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.github.url }}/css/font-face.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/default.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/{{ page.css }}">
</head>
<body>
  <header class="bg-inverse">
    <nav class="container navbar navbar-dark">
      <a href="{{ site.github.url }}/" class="navbar-brand">Datsi</a>

      <ul class="nav navbar-nav hidden-sm-down">
        <li class="nav-item">
          <a href="#" class="nav-link">Troncales</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Optativas</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">M.Ingeniería</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">M.Computación</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Profesores</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>

  <footer class="sitemap">
    <div class="container">
      <hr>

      <div class="row">
        <div class="col-xs-12 col-md">
          <h3 class="sitemap-title">Troncales</h3>
          <ul class="sitemap-list hidden-sm-down">
            <li class="sitemap-item"><a href="#" class="sitemap-link">Fundamentos</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Digitales</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Estructura</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Arquitectura</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Operativos</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Distribuidos</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">P.Instalación</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md">
          <h3 class="sitemap-title">Optativas</h3>
          <ul class="sitemap-list hidden-sm-down">
            <li class="sitemap-item"><a href="#" class="sitemap-link">Industrial</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Administración</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Nanotecnología</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Alto Rendimiento</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Biometría de la Voz</a></li>
          </ul>

          <h3 class="sitemap-title">Biotecnología</h3>
          <ul class="sitemap-list hidden-sm-down">
            <li class="sitemap-item"><a href="#" class="sitemap-link">Sistemas</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Modelización</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md">
          <h3 class="sitemap-title">Máster Universitario Ingeniería Informática</h3>
          <ul class="sitemap-list hidden-sm-down">
            <li class="sitemap-item"><a href="#" class="sitemap-link">Empotrados</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Avanzados</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Teledetección</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Big Data</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Paralela</a></li>
          </ul>

          <h3 class="sitemap-title">Máster Universitario Computación Avanzada para Ciencia e Ingeniería</h3>
          <ul class="sitemap-list hidden-sm-down">
            <li class="sitemap-item"><a href="#" class="sitemap-link">Visualización</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Alto Rendimiento</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Optimización</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md">
          <h3 class="sitemap-title">Grupos de trabajo</h3>
          <ul class="sitemap-list hidden-sm-down">
            <li class="sitemap-item"><a href="#" class="sitemap-link">Arquitectura</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Tecnología</a></li>
          </ul>

          <h3 class="sitemap-title">Laboratorios</h3>
          <ul class="sitemap-list hidden-sm-down">
            <li class="sitemap-item"><a href="#" class="sitemap-link">Arquitectura</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Operativos</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Tecnología</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Teledetección</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Audio</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md">
          <h3 class="sitemap-title">Departamento</h3>
          <ul class="sitemap-list hidden-sm-down">
            <li class="sitemap-item"><a href="#" class="sitemap-link">Dirección</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Contacto</a></li>
            <li class="sitemap-item"><a href="#" class="sitemap-link">Profesorado</a></li>
          </ul>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-xs-12">
          <p class="copyright">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a> Todo el material de esta web, <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">DATSI by Apple</span> por <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Carlos Saito</span> se distribuye bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a> a no ser que se exprese lo contrario.
          </p>
          <p class="copyright">
            Familia tipográfica Myriad Pro. Copyright © 2016-actualidad Apple Inc.
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
